/* * {
  font-family: "Nunito Sans", sans-serif;
  
} */
.navbar-expand-lg .navbar-nav {
  /* flex-direction: column; */
  flex-grow: 1;
  /* width: 100%; */
  justify-content: space-evenly;
}
#header .navbar {
  background-color: #f3f3f5;
}
.green {
  color: #28a745;
}
#banner .img {
  width: 96%;
  height: 96%;
}
#banner .btn,
#section_white .btn,
#why .btn {
  background-color: #ff6d00;
  text-decoration: none;
  color: white;
  border-radius: 5px;
  font-weight: 600;
  margin-bottom: 8px;
  box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.37);
}
#banner .btn:hover,
#section_white .btn:hover,
#why.btn:hover {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.5);
}
#banner {
  position: relative;
  top: 106px;
  background-color: #f3f3f5;
}
#banner .fst-italic {
  padding-right: 39px;
  font-size: 17px;
}
#banner small,
#section_white .fw-bold,
#why .fw-bold {
  font-size: 0.7rem;
}
#you_sec {
  padding-top: 180px;
  background: #fafbfc;
}
#you_sec .list-unstyled li {
  line-height: 2.3rem;
}

#section_white .underlined {
  text-decoration: underline;
}
#section_white .underlined .blue {
  color: #004ba8;
}
#why .card-img-top {
  width: 40px;
  height: 40px;
}
#why {
  background-color: #fafbfc;
}
#why .row:nth-child(2) .col > div p {
  font-size: 0.85rem;
  margin-top: 12px;
  line-height: 1.75rem;
  color: #7c8595;
}
#why .card-title {
  font-size: 1.2rem;
}
#curriculum .card-body > span {
  color: #28a745;
}
#curriculum .card-body h4 {
  color: #004ba8;
  font-size: 1.35rem;
}
#curriculum .card {
  background-color: #f8fdfd;
}
/* #curriculum .row .card-body .list-unstyled li:first-child {
  font-weight: bold;
} */
#team {
  background-color: #fafbfc;
}
#team .row img {
  width: 251px;
  border-radius: 50%;
  background-color: #ffffff;
}
#team .instructor > p:first-child {
  color: #004ba8;
  font-size: 1.125rem;
}
#team .instructor > span {
  font-size: 1.11rem;
  color: #2f4744;
}
#employer .row .col > p {
  color: #2f4744;
}
